<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.alertus.DesktopActivator</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Desktop Activator.app/Contents/MacOS/Desktop Activator</string>
		<string>started_by_launch_agent</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
